<nb-layout>
  <nb-layout-column>
    <nb-card>
      <nb-card-header class="header">
        Bienvenido a PencaUCU
      </nb-card-header>
      <nb-card-body>
        <form>
          <p>Ingresa la siguiente información para crear tu usuario y poder participar en la penca</p>
          <div class="input-group mb-3">
            <label for="nombre">Nombre</label>
            <input
              nbInput
              fullWidth
              id="nombre"
              placeholder="Estudiante"
              [(ngModel)]="nombre"
              name="nombre"
            />
          </div>
          <div class="input-group mb-3">
            <label for="documento">Documento</label>
            <input
              nbInput
              fullWidth
              id="documento"
              placeholder="Cédula"
              [(ngModel)]="documento"
              name="documento"
            />
          </div>
          <div class="input-group mb-3">
            <label for="email">Email</label>
            <input
              nbInput
              fullWidth
              id="email"
              type="email"
              placeholder="estudiante@correo.ucu.edu.uy"
              [(ngModel)]="email"
              name="email"
            />
          </div>
          <div class="input-group mb-3">
            <label for="contrasena">Contraseña</label>
            <input
              nbInput
              fullWidth
              id="contrasena"
              placeholder="*********"
              type="password"
              [(ngModel)]="contrasena"
              name="contrasena"
            />
          </div>

          <div class="input-group mb-3">
            <label for="campeon">Campeón</label>
            <app-dropdown-form
              [teams]="unselectedTeams$"
              [(selectedTeam)]="selectedCampeon"
              (selectedTeamChange)="onCampeonChange($event)">
            </app-dropdown-form>
          </div>

          <div class="input-group mb-3">
            <label for="sub-campeon">Subcampeón</label>
            <app-dropdown-form
              [teams]="unselectedTeams$"
              [(selectedTeam)]="selectedSubCampeon"
              (selectedTeamChange)="onSubCampeonChange($event)">
            </app-dropdown-form>
          </div>

          <button nbButton fullWidth status="primary">Registrarme</button>
        </form>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>