:host {
    font-size: inherit !important;
    color: white !important;
}

button {
    font-size: inherit !important;
    min-width: 25%;
}

p {
    font-size: 300% !important;
    line-height: 100%;
}