<nb-select
  placeholder="Seleccionar equipo..."
  [(ngModel)]="selectedTeam"
  (ngModelChange)="onTeamChange($event)"
  name="selectedTeam"
  style="width: 100%;"
>
  <nb-option *ngFor="let team of teams$ | async" [value]="team">
    {{ team.name }}
  </nb-option>
</nb-select>

<nb-list *ngIf="selectedTeam" style="max-height: 200px; overflow-y: auto;">
  <nb-list-item>
    <nb-user [name]="selectedTeam.name" [picture]="selectedTeam.picture" [size]="size || 'medium'"></nb-user>
  </nb-list-item>
</nb-list>