<div class="row">
    <div class="col-md-3" *ngFor="let match of matches$ | async">
        <nb-card>
            <nb-card-body>
                <div class="card-resultado">
                    <app-team-img [equipo]="match.equipos[0]"></app-team-img>
                    <div class="resultado">
                        <p class="goles-resultado">
                            <span class="spacing-resultado">{{ match.resultado[0] }} - </span>
                            {{ match.resultado[1] }}
                        </p>

                        <button
                            nbButton
                            status="primary"
                            shape="round"
                            (click)="navCargarResultado(match.id)"
                        >
                            Modificar
                        </button>
                    </div>
                    <app-team-img [equipo]="match.equipos[1]"></app-team-img>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>