<div class="row">
    <ng-container *ngIf="matches$ | async as matches; else loadingCard">
        <ng-container *ngIf="matches.length; else emptyCard">
            <div class="col-md-3" *ngFor="let match of matches">
                <nb-card>
                    <nb-card-body>
                        <div class="card-resultado">
                            <app-team-img [equipo]="match.equipos[0]"></app-team-img>
                            <div class="container-btn-cargar">
                                <button
                                    nbButton
                                    status="primary"
                                    shape="round"
                                    (click)="navCargarResultado(match.id)"
                                >
                                    Cargar
                                </button>
                            </div>
                            <app-team-img [equipo]="match.equipos[1]"></app-team-img>
                        </div>
                    </nb-card-body>
                    <nb-card-footer>
                        <p>{{ match.datetime | date: "dd/MM/yyyy HH:mm" }}</p>
                        <p>{{ match.fase }} - Jornada {{ match.jornada }}</p>
                    </nb-card-footer>
                </nb-card>
            </div>
        </ng-container>

        <ng-template #emptyCard>
            <nb-card class="info-card">
                <nb-card-body>
                    No falta cargar el resultado de ningún partido.
                </nb-card-body>
            </nb-card>
        </ng-template>

    </ng-container>

    <ng-template #loadingCard>
        <nb-card class="info-card">
            <nb-card-body>
                Cargando...
            </nb-card-body>
        </nb-card>
    </ng-template>
</div>