<div class="row">
    <div class="col-md-3" *ngFor="let match of matches$ | async">
        <nb-card>
            <nb-card-body>
                <div class="card-resultado">
                    <app-team-img [equipo]="match.equipos[0]"></app-team-img>
                    <div class="resultado">
                        <p class="goles-resultado">
                            <span class="spacing-resultado">{{ match.resultado[0] }} - </span>
                            {{ match.resultado[1] }}
                        </p>

                        <p
                            *ngIf="match.prediccion; else sinPrediccion"
                            class="goles-prediccion"
                            [ngClass]="{
                                'prediccion-exacta': match.isExactPrediction,
                                'prediccion-correcta': match.isCorrectPrediction,
                                'prediccion-errada': match.isWrongPrediction
                            }"
                        >
                            <span class="spacing-prediccion">{{ match.prediccion[0] }} - </span>
                            {{ match.prediccion[1] }}
                        </p>

                        <ng-template #sinPrediccion>
                            <p class="goles-prediccion prediccion-no-ingresada">
                                <span class="spacing-prediccion">X - </span>X
                            </p>
                        </ng-template>
                    </div>
                    <app-team-img [equipo]="match.equipos[1]"></app-team-img>
                </div>
            </nb-card-body>
            
            <nb-card-footer *ngIf="match.isExactPrediction" class="suma-puntos">
                <p>Resultado exacto</p>
                <p>+4 puntos</p>
            </nb-card-footer>

            <nb-card-footer *ngIf="match.isCorrectPrediction" class="suma-puntos">
                <p>Resultado correcto</p>
                <p>+2 puntos</p>
            </nb-card-footer>

            <nb-card-footer *ngIf="match.isWrongPrediction" class="no-suma-puntos">
                <p>No acertaste</p>
                <p>Sin puntos</p>
            </nb-card-footer>

            <nb-card-footer *ngIf="!match.prediccion">
                <p>Sin predicción</p>
            </nb-card-footer>
        </nb-card>
    </div>
</div>