<nav class="bottom-nav">
    <nb-actions size="large" *ngIf="!isAdmin">
      <nb-action icon="home-outline" (click)="onNavigate('/matches/upcoming')"></nb-action>
      <nb-action icon="people-outline" (click)="onNavigate('/ranking')"></nb-action>
      <nb-action icon="list-outline" (click)="onNavigate('/fixture')"></nb-action>
      <nb-action icon="person-outline" (click)="onNavigate('/profile')"></nb-action>
    </nb-actions>


    <nb-actions size="large" *ngIf="isAdmin">
      <nb-action icon="home-outline" (click)="onNavigate('/admin/matches/pending')"></nb-action>
      <nb-action icon="copy-outline" (click)="onNavigate('/admin/matches/to-be-determined')"></nb-action>
      <nb-action icon="list-outline" (click)="onNavigate('/admin/stats')"></nb-action>
      <nb-action icon="person-outline" (click)="onNavigate('/admin/profile')"></nb-action>
    </nb-actions>
  </nav>