<div class="player-list-container" *ngIf="users$ | async as users">
  <nb-card>
    <nb-card-body class="pt-0">
      <nb-list>
        <nb-list-item
          *ngFor="let user of users; index as i"
          [class.highlight]="user.userDocument == currentUserDocument"
        >
          <span class="rank">{{ i + 1 }}° -</span>
          <div class="player-info">
            <div class="player-name">{{ user.name }}</div>
          </div>
          <div class="score">{{ user.score }} pts</div>
        </nb-list-item>
      </nb-list>
    </nb-card-body>
  </nb-card>
</div>