<div class="login-container">
  <nb-card>
    <nb-card-header>
      <h1>PencaUCU</h1>
      <p>Ingresa tu usuario y contraseña de la UCU para ingresar</p>
    </nb-card-header>
    <nb-card-body>
      <form>
        <div class="form-group">
          <label for="email">Email</label>
          <input nbInput fullWidth type="email" id="email" placeholder="joel.alayon@gmail.com" />
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input nbInput fullWidth type="password" id="password" placeholder="**********" />
        </div>
        <div class="form-group forgot-password-container">
          <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
        </div>
        <button nbButton status="primary" fullWidth>Ingresar</button>
      </form>
    </nb-card-body>
  </nb-card>
</div>
