<div class="row">
    <div class="col-md-3" *ngFor="let match of matches$ | async">
        <nb-card>
            <nb-card-body>
                <div class="card-resultado">
                    <app-team-img [equipo]="match.equipos[0].name"></app-team-img>
                    <div class="prediccion">
                        <button
                            *ngIf="match.prediccion; else btnIngresar"
                            class="ingresada"
                            nbButton
                            status="primary"
                            shape="round"
                            [ngClass]="{ 'show-disabled': !match.newPredictionAllowed }"
                            (click)="match.newPredictionAllowed ? navIngresarPrediccion(match) : mostrarInfoPrediccionesCerradas(match)"
                        >
                            <span class="spacing-prediccion">{{ match.prediccion[0] }}-</span>
                            {{ match.prediccion[1] }}
                        </button>

                        <ng-template #btnIngresar>
                            <button
                                class="no-ingresada"
                                nbButton
                                status="primary"
                                shape="round"
                                [ngClass]="{ 'show-disabled': !match.newPredictionAllowed }"
                                (click)="match.newPredictionAllowed ? navIngresarPrediccion(match) : mostrarInfoPrediccionesCerradas(match)"
                            >
                                Ingresar
                            </button>
                        </ng-template>
                    </div>
                    <app-team-img [equipo]="match.equipos[1].name"></app-team-img>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <p>{{ match.datetime | date: "dd/MM/yyyy HH:mm" }}</p>
                <p>{{ match.fase }}</p>
            </nb-card-footer>
        </nb-card>
    </div>
</div>