<div class="login-container">
  <nb-card>
    <nb-card-header>
      <h1>PencaUCU</h1>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="formGroup">
        <div class="form-group">
          <label for="email">Email</label>
          <input nbInput fullWidth type="email" id="email" placeholder="estudiante@correo.ucu.edu.uy" [formControlName]="'email'"/>
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input nbInput fullWidth type="password" id="password" placeholder="**********" [formControlName]="'password'"/>
        </div>
        <div class="form-group forgot-password-container">
          <a href="#" class="forgot-password">¿Olvidaste tu contraseña?</a>
        </div>
        <button nbButton status="primary" fullWidth (click)="login()">Ingresar</button>
        <div class="form-group forgot-password-container d-flex justify-content-end mt-5 mb-0">
          <a routerLink="/sign-up" class="forgot-password">Registrarme</a>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
